{% extends "Plantilla.html" %} <!-- hereda de Plantilla.html -->
{% block body %} <!--creacion de bloque body para el contenido de la pagina que hereda de Plantilla.html -->
<!-- mensaje jinja -->
{% with messages = get_flashed_messages(with_categories = true) %} 
    {% if messages %} 
        {% for category, message in messages %} 
            <script>
                Swal.fire({
                    title: "{% if category == 'success' %}Correcto{% elif category == 'info' %}Editado{% elif category == 'danger' %}Eliminado{% endif %}",
                    text: "{{ message }}",
                    icon: "{% if category == 'success' %}success{% elif category == 'info' %}info{% elif category == 'danger' %}error{% endif %}"
                });
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}

<h2 class="text-center mt-5 mb-5 display-4 text-danger">Gestión de álbumes.</h2>
<div class="row">
    <div class="col-md-5">
        <div class="container">
            <form action="/guardarAlbum" method="post">
                <div class="mb-3">
                    <label for="title">Título</label>
                    <input type="text" name="titulo" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="artist">Artista</label>
                    <input type="text" name="artista" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="year">Año</label>
                    <input type="number" name="anio" class="form-control">
                </div>
                <button type="submit" class="btn btn-outline-success mt-2 mb-3">Guardar Álbum</button>
            </form>
        </div>
    </div>

    <div class="col-md-7">
        <div class="container">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>ID:</th>
                        <th>Título:</th>
                        <th>Artista:</th>
                        <th>Año:</th>
                        <th>Acciones:</th>
                    </tr>
                </thead>
                <tbody>

                    {% for album in albums %} <!-- ciclo for para recorrer la lista de albums -->
                    <tr>
                        <td>{{ album[0] }}</td>
                        <td>{{ album[1] }}</td>
                        <td>{{ album[2] }}</td>
                        <td>{{ album[3] }}</td>
                        <td>
                            <a href="/editar/{{ album[0] }}" class="btn btn-warning">Editar</a>
                            <a href="/eliminar/{{ album[0] }}" onclick="return confirmarEliminacion()" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %} <!-- fin del ciclo for -->
                </tbody> <!-- fin del cuerpo de la tabla -->
            </table> <!-- fin de la tabla -->
        </div> <!-- fin del contenedor -->
    </div> <!-- fin de la columna -->
</div> <!-- fin de la fila -->
{% endblock %} <!-- fin del bloque body -->
