<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario albums</title>
</head>
<body>
    <form action="/guardarAlbum" method="post">
        <label for="title">Título</label>
        <input type="text" name="titulo">
        <br></br>

        <label for="artist">Artista</label>
        <input type="text" name="artista">
        <br></br>

        <label for="year">Año</label>
        <input type="number"  name="anio">
        <br></br>
        
        <button type="submit">Guardar Album</button>
</body>
</html>