{% extends "Plantilla.html"%}
{% block body %}
<!-- mensaje jinja -->
{%with msj= get_flashed_messages() %}
{% if msj %}
{% for mensaje in msj %}


<div class="alert alert-warning alert-dismissible fade show mt-5" role="alert">
    <strong>{{mensaje}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{%endfor%}
{%endif%}
{%endwith%}

<h1 class="text-center mt-5 mb-5 display-4 text-danger">Gestion de albums.</h1>
<!-- formulario de creacion de album -->
<div class="row">
    <div class="col-md-5">
        <form action="/guardarAlbum" method="post">
            <label for="title">Título</label>
            <input type="text" name="titulo">


            <label for="artist">Artista</label>
            <input type="text" name="artista">


            <label for="year">Año</label>
            <input type="number" name="anio">


            <button type="submit">Guardar Album</button>

        </form>
    </div> <!-- cierre div para guardar albums -->

    <div class="col-md-7">
        <table>
            <thead>
                <tr>
                    <th>Id:</th>
                    <th>Titulo:</th>
                    <th>Artista:</th>
                    <th>Año:</th>
                    <th>Acciones:</th>
                </tr>
            </thead>
            <tbody>
                {% for album in albums %}
                <tr>
                    <td>{{ album[0] }}</td>
                    <td>{{ album[1] }}</td>
                    <td>{{ album[2] }}</td>
                    <td>{{ album[3] }}</td>
                    <td>
                        <a href="/editar/{{ album[0] }}">Editar</a>
                        <a href="/eliminar/{{ album[0] }}" onclick="return confirmarEliminacion()">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> <!-- cierre div para tabla de albums -->
</div>
{% endblock %}