<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Datos Personales</title>
</head>
<body>
    <form action="/formulario" method="post">
        <label for="title">Nombre</label>
        <input type="text" name="nombre">
        <br></br>

        <label for="artist">Edad</label>
        <input type="text" name="edad">
        <br></br>
        
        <button type="submit">Enviar Datos</button>
</body>
</html>